<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{project.name}}</h1>
    <p class="lead">
      {{project.description}}

      Default Team: {{project.defaultTeam.name}}
    </p>
    <button (click)="goBack();" class="btn btn-primary">Go Back</button>
  </div>
</div>

<div *ngIf="areReposLoading; else loaded">
  <p class="text-center">
    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    Loading project...
  </p>
</div>
<ng-template #loaded>
  <div class="container-fluid">

    <h3>Past: 
      {{pastSprintsCount}}
    </h3>
    <!--<h2>Sprint</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">{{currentSprint.name}}</h2>
            <div class="card-text">
              <div class="card border-primary mb-3">
                <div class="card-header border-primary-bottom content-center">
                  <i class="fab icon text-white my-4 display-4"></i>
                  <a href="{{currentSprint.url}}" target="_blank">{{currentSprint.path}}</a>
                </div>
                <div class="card-body row text-center">
                  <div class="col" [ngClass]="{'in-progress': (sprint.attributes.timeFrame==='current')}">
                    <div class="text-value-xl">{{currentSprint.attributes.timeFrame}}</div>
                    <div class="text-uppercase text-muted small">timeframe</div>
                  </div>
                  <div class="vr"></div>
                  <div class="col">
                    <div class="text-value-xl">{{datePipe.transform(sprint.attributes.startDate, 'dd/MM/yy')}}</div>
                    <div class="text-uppercase text-muted small">start</div>
                  </div>
                  <div class="vr"></div>
                  <div class="col">
                    <div class="text-value-xl">{{datePipe.transform(sprint.attributes.finishDate, 'dd/MM/yy')}}</div>
                    <div class="text-uppercase text-muted small">finish</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->


    <!--<h2>Sprints</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let sprint of sprints">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">{{sprint.name}}</h2>
          <div class="card-text">
            <div class="card border-primary mb-3">
              <div class="card-header border-primary-bottom content-center">
                <i class="fab icon text-white my-4 display-4"></i>
                <a href="{{sprint.url}}" target="_blank">{{sprint.path}}</a>
              </div>
              <div class="card-body row text-center">
                <div class="col" [ngClass]="{'in-progress': (sprint.attributes.timeFrame==='current')}">
                  <div class="text-value-xl">{{sprint.attributes.timeFrame}}</div>
                  <div class="text-uppercase text-muted small">timeframe</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">{{datePipe.transform(sprint.attributes.startDate, 'dd/MM/yy')}}</div>
                  <div class="text-uppercase text-muted small">start</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">{{datePipe.transform(sprint.attributes.finishDate, 'dd/MM/yy')}}</div>
                  <div class="text-uppercase text-muted small">finish</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Repos</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let repo of repos">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">{{repo.name}}</h2>
          <div class="card-text">
            <div class="card border-primary mb-3">
              <div class="card-header border-primary-bottom content-center">
                <i class="fab icon text-white my-4 display-4"></i>Sprint
              </div>
              <div class="card-body row text-center">
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">current</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">past</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">time left</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text">
            <div class="card border-primary mb-3">
              <div class="card-header border-primary-bottom content-center">
                <i class="fab icon text-white my-4 display-4"></i>Work Items
              </div>
              <div class="card-body row text-center">
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">active</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">unassigned</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">resolved</div>
                </div>
                <div class="vr"></div>
                <div class="col">
                  <div class="text-value-xl">0</div>
                  <div class="text-uppercase text-muted small">closed</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->




  </div>
</ng-template>
